<%- include('../partials/header') %>
<%- include('../partials/menu') %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <% 
				  if (data) {
				  	var image_src = img;
				  }
				  %>
				 <img class="card-img-top" id="player_img" src= "<%- image_src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form"action="/player_info/post" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <option selected>Select Player</option>
							 <!-- TODO: Populate our select with player options
							 			For each player, set a new option with a value matching the palyer's id, 
										 but will display the player's name-->
							<%
							if (data) {
								var players = '';
								data.forEach(function(item){
									   players += '<option value="' + item.id + '">' + item.name + '</option>';
								   }); %>
								   <%- players %>
							<% } %>
						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<table class="table">
						<tr>
							<!-- TODO: Set Player Information
							 			If a player has been selected, fill in their information in each of the fields below.
										 You'll need to calculate here the player's average rushing, receiving, and passing yards.-->
							<%
							if (data) {
								
								var year = year;
								var major = major;
								var games_played = games_played;
								var passing_yards = passing_yards;
								var avg_passing = avg_passing;
								var rushing_yards = rushing_yards;
								var avg_rushing = avg_rushing;
								var receiving_yards = receiving_yards;
								var avg_receiving = avg_receiving;
								%>
							<% } %>
							<th>Year</th>
							<td><%- year %></td>
						</tr>
						<tr>
							<th>Major</th>
							<td><%- major %></td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td><%- games_played %></td>
						</tr>
						<tr>
							<td>Passing Yards: <%- passing_yards %> </td>
							<td>Avg. Passing Yards: <%- avg_passing %></td>
						</tr>
						<tr>
							<td>Rushing Yards: <%- rushing_yards %></td>
							<td>Avg. Rushing Yards: <%- avg_rushing %></td>
						</tr>
						<tr>
							<td>Receiving Yards: <%- receiving_yards %></td>
							<td>Avg. Receiving Yards: <%- avg_receiving %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
  
<%- include('../partials/footer') %>